.container-header {
  position: relative;
  height: 50px;
  /* Set a height for the container */
}


.container-header-logout {
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid #0c5272;
  background-color: #0c5272;
  border-radius: 8px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: beige;
}

.container-pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-pagination span {
  padding: 5px;
}

.container-pagination button {
  width: auto;
  padding: 10px;
}

.active {
  color: #0c5272;
  font-size: 25px;
}

.container-card {
  display: flex;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  margin: 0.35rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
}

.container-card-content:hover {
  transform: scale(1.1);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-card-content {
  display: inline-block;
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.container-card-content b {
  color: #0c5272;
}